@import "tailwindcss";

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #050505;
}
h1{
  font-family: 'Orbitron', sans-serif;
}

@keyframes permanent-glitch {
  0% { transform: translate(0); filter: blur(0); }
  5% { transform: translate(-5px, 2px); filter: blur(1px); text-shadow: 2px 0 #10b981; }
  10% { transform: translate(3px, -3px); filter: blur(0); text-shadow: -2px 0 #ff00c1; }
  15% { transform: translate(-2px, 4px); }
  20% { transform: translate(5px, -1px); filter: hue-rotate(90deg); }
  25% { transform: translate(-4px, 0); text-shadow: 3px 0 #10b981; }
  30% { transform: translate(0); filter: blur(0); text-shadow: none; }

  60% { transform: translate(-5px, 2px); filter: blur(1px); text-shadow: 2px 0 #10b981; }
  70% { transform: translate(3px, -3px); filter: blur(0); text-shadow: -2px 0 #ff00c1; }
  75% { transform: translate(-2px, 4px); }

  100% { transform: translate(0); filter: blur(0); text-shadow: none; }
}

.hover-glitch {
  position: relative;
  display: inline-block;
  transition: text-shadow 0.2s ease-in-out;
  cursor: pointer;
}

.hover-glitch:hover {
  animation: permanent-glitch 0.6s step-end infinite;
  text-shadow: 3px 0 #10b981, -3px 0 #ff00c1;
}

.permanent-glitch {
  animation: permanent-glitch 4s step-end infinite;
  text-shadow: 2px 0 #10b981, -2px 0 #ff00c1;
  display: inline-block;
  position: relative;
}

.hover-glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  text-shadow: -2px 0 #ff00c1;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  opacity: 0.8;
  display: none;
  pointer-events: none;
}

.hover-glitch:hover::before {
  display: block;
  animation: permanent-glitch 0.4s infinite reverse;
}